base_ami_id                 = "ami-020cba7c55df1f615"
staging_public_key          = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDTZ6DcxICPyzuru1PiVVCinAq6y5a8x9RLQReVxKCjBkM6/yIc5aGCq4NvxoAVtoMi9ZxRP6uZFrHhtQM6mDubfWk5MvTkJzxNDITwgAOIlbIVRx7xtETDsQotJRS4r8CRRwYCFqF1PnZPJ4E8CY2gwFnwqA+FdTGjnWrCDvtXQJ6wf/IdS8UHSduBtk2p+QsbzB//iQpBmsfDBjPyPz4QcnKwOQccRPHsZrDaMbQNfbcqrvHKFPI5MFP9/I4CHfjrJWtLoCnekkupGMSQRQkARrF5CHUSbfpGwC6M3TxM4Io/iJ9dB4DW38zZqZfsb4mClS4xzCwXRjHU5kPasnJ4daGXIJOvLnVFeT/YqTV9i4wOafsjqaYSgyuPRVCPsN4VNuYGw0+PuKkeUc9BrIcCcsgcRlapdLWj503x7YL/F2s3AVll3fXkgOcE3OB9IeMQuwTK8odeGx2yFN2DbS7/jhBqPi5qfgye0VdWTJ2/zuL49Y7tBWtm6O/9p0aF/QRvh3MeOPTp9fgZmVXX6zgluO6rrChxWVUdEPyfWfQbCnwCqLSE7Yu9ompBh7CvUMmnZSQYmZFBwegBRWU5BM18e9Rsrj+zl4x93STzSWWRa3fTND7ZNYVzAVJfxVRwD5a31il6V/E0z5nuiekOUwGn73jL/2iFx77jm23A3nz7mw== ubuntu@staging"